@charset "UTF-8";
html {
	background-color: #ededed;
}
/*Class Container, which is in home.html*/
.container {
	background-color: #B8860B;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


/*Top part of the page*/
.primary_header {
	width: 100%;
	background-image: linear-gradient(red, darkred, darkred);
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
}
/*Area where the tabs are supposed to be*/
.secondary_header {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: darkgoldenrod;
	clear: right;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 70%;
}
.secondary_header ul li {
	justify-content: center;
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 19%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}

/*Left side of the page where the text is*/
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #000000;
	padding-bottom: 15px;
}

.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #000000;
}

/*Right side of the page where the images are*/
.right_article {
	width: 40%;
	float: right;
	background-color: #ffffff;
}
.container .right_article ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}

/*Format of the title at top, "Mt. SAC COMPUTER INFORMATION..."*/
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

/*Format of the images*/
.image {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
	object-fit: fill;
	align-items: center;
}

/*Important for proper alignment of the tabs*/
	
	@media (min-width: 321px) and (max-width: 768px) {
	.secondary_header ul li {
		float: none;
		margin-top: 28px;
		margin-left: 0px;
		width: 100%;
	}
	.container .secondary_header ul {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		height: auto;
		width: 100%;
		text-align: center;
	}
	}
