@charset "UTF-8";
@import url(Home.css);
img {
	float: left;
}
/* Style the tab */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  
  .tabGroup {
	  font: 10pt arial, verdana;
	  width: 100%;
  }
   
  
  .tabGroup > input[type="radio"] {
	  position: absolute;
	  left:-100px;
  }
   
  
  .tabGroup > div.tablabels {
	  display: inline-block;
	  vertical-align: top;
	  width:23%;
	  margin-right:-5px;
  }
   
  
  .tabGroup > div.tablabels > label {
	  display: inline-block;
	  width:100%;
	  border: 1px solid black;
	  border-radius: 5px 0 0 5px;
	  -moz-border-radius: 5px 0 0 5px ;
	  -webkit-border-radius: 5px 0 0 5px ;
	  padding: 5px 10px;
	  background-color:#ddd;
	  z-index:32767;
  }
  
  .tabGroup > input#rad1:checked ~ div.tablabels > label[for="rad1"],
  .tabGroup > input#rad2:checked ~ div.tablabels > label[for="rad2"],
  .tabGroup > input#rad3:checked ~ div.tablabels > label[for="rad3"],
  .tabGroup > input#rad4:checked ~ div.tablabels > label[for="rad4"],
  .tabGroup > input#rad5:checked ~ div.tablabels > label[for="rad5"],
  .tabGroup > input#rad6:checked ~ div.tablabels > label[for="rad6"],
  .tabGroup > input#rad7:checked ~ div.tablabels > label[for="rad7"] {
	  background-color:white;
	  font-weight: bold;
	  border-right: none;;
	  position:relative;
  }
   
  .tabGroup > div.tabcontent {
	  display: inline-block;
	  width: 66%;
  }
   
  
  .tabGroup > div.tabcontent > div {
	  width:100%;
	  display: none;
	  border: 1px solid black;
	  background-color: white;
	  padding: 10px 10px;
	  height: 100%;
	  overflow: auto;
	  box-shadow: 0 0 20px #444;
	  -moz-box-shadow: 0 0 20px #444;
	  -webkit-box-shadow: 0 0 20px #444;
	  border-radius: 0 5px 5px 5px;
	  -moz-border-radius: 0 5px 5px 5px;
	  -webkit-border-radius: 0 5px 5px 5px;
  }
   
  
  .tabGroup > .tab1:checked ~ div.tabcontent > .tab1,
  .tabGroup > .tab2:checked ~ div.tabcontent > .tab2,
  .tabGroup > .tab3:checked ~ div.tabcontent > .tab3,
  .tabGroup > .tab4:checked ~ div.tabcontent > .tab4,
  .tabGroup > .tab5:checked ~ div.tabcontent > .tab5,
  .tabGroup > .tab6:checked ~ div.tabcontent > .tab6,
  .tabGroup > .tab7:checked ~ div.tabcontent > .tab7 {
	  display: inline-block;
	  min-height: 400px;
  }
  
  /***** TabGroup2 & 3 *******/
  
  .tabGroup2,.tabGroup3 {
	  font: 10pt arial, verdana;
  
  }
   
  
  .tabGroup2 > input[type="radio"],
  .tabGroup3 > input[type="radio"]  {
	  position: absolute;
	  left:-100px;
  }
   
  
  .tabGroup2 > div.tablabels2,
  .tabGroup3 > div.tablabels3 {
	  display: inline-block;
	  vertical-align: top;
	  width:33%;
	  margin-right:-5px;
  }
   
  
  .tabGroup2 > div.tablabels2 > label,
  .tabGroup3 > div.tablabels3 > label {
	  display:block;
	  border: 1px solid black;
	  border-radius: 5px 0 0 5px;
	  -moz-border-radius: 5px 0 0 5px ;
	  -webkit-border-radius: 5px 0 0 5px ;
	  padding: 5px 10px;
	  background-color:#ddd;
	  z-index:32767;
  }
   
  
  
  .tabGroup2 > input#rad21:checked ~ div.tablabels2 > label[for="rad21"],
  .tabGroup2 > input#rad22:checked ~ div.tablabels2 > label[for="rad22"],
  .tabGroup2 > input#rad23:checked ~ div.tablabels2 > label[for="rad23"],
  
  .tabGroup3 > input#rad31:checked ~ div.tablabels3 > label[for="rad31"],
  .tabGroup3 > input#rad32:checked ~ div.tablabels3 > label[for="rad32"],
  .tabGroup3 > input#rad33:checked ~ div.tablabels3 > label[for="rad33"]  {
	  background-color:white;
	  font-weight: bold;
	  border-right: none;;
	  position:relative;
  }
   
  .tabGroup2 > div.tabcontent2,
  .tabGroup3 > div.tabcontent3{
	  display: inline-block;
	  width: 66%;
  }
   
  
  .tabGroup2 > div.tabcontent2 > div,
  .tabGroup3 > div.tabcontent3 > div {
	  width:100%;
	  display: none;
	  border: 1px solid black;
	  background-color: white;
	  padding: 10px 10px;
	  height: 100%;
	  overflow: auto;
	  box-shadow: 0 0 20px #444;
	  -moz-box-shadow: 0 0 20px #444;
	  -webkit-box-shadow: 0 0 20px #444;
	  border-radius: 0 5px 5px 5px;
	  -moz-border-radius: 0 5px 5px 5px;
	  -webkit-border-radius: 0 5px 5px 5px;
  }
   
  
  .tabGroup2 > .last24:checked ~ div.tabcontent2 > .last24,
  .tabGroup2 > .last7:checked ~ div.tabcontent2 > .last7,
  .tabGroup2 > .last30:checked ~ div.tabcontent2 > .last30,
  .tabGroup3 > .last24:checked ~ div.tabcontent3 > .last24,
  .tabGroup3 > .last7:checked ~ div.tabcontent3 > .last7,
  .tabGroup3 > .last30:checked ~ div.tabcontent3 > .last30  {
	  display: inline-block;
	  min-height: 400px;
  }